@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin:0;
    padding:0;
    border: 0;
    outline: 0;
    text-decoration: none;
    font-family: 'Open Sans',Arial, Helvetica, sans-serif;
}

#hero {
    padding: 0 15%;
    overflow: hidden;
    background-color:white;
}


/* Header */

.logo{
    font-size: 32px;
    font-weight: 800;
    color:#222831;
    cursor: pointer;
}

.logo span {
    color:#00ADB5;

}

header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 0;
border-bottom: 1px solid lightblue;
animation: zoomIn 0.8s ease-in-out ;
animation-delay: 0.2s;

}


nav{
    display: flex;
    gap:30px;
    justify-content: center;
    align-items: center;
}

.nav-items {

    font-size: 17px;
    color:grey;
    font-weight: 500;
    transition: 0.2s;

}


.nav-items:hover {
color:#00ADB5;
}

.header-cta-btn {
    font-size: 17px;
    font-weight: 600;
    padding: 10px 25px;
    border-radius: 25px;
    background-color: #00ADB5;
    color:white;
    cursor: pointer;
    transition: 0.2s;
}

.header-cta-btn:hover{
   background-color:#024649;
}

/* hero */

.hero-content {

    display: grid;
    grid-template-columns: 1.2fr 1fr;
    padding-top: 75px;
    padding-bottom: 25px;
}

.left-content {
    display: flex;
    align-items: center;
}


.left-content  h1 {

    font-size: 3rem;
    font-weight: 800;
    line-height: 1.3;
    margin-bottom: 30px;
    color:#222831;
    animation: bottomIn 1s ease-in-out ;
    animation-delay: 0.3s;
    

}

.left-content  h1  span {
    color:#00ADB5;
}

.left-content  p {

    font-size: 16px;
    font-weight: 500;
    line-height: 1.8;
    color:grey;
    margin-bottom: 30px;
  
}

.big-cta-btn {

    font-size: 18px;
    font-weight: 500;
    background-color: transparent;
    border: 2px solid #00ADB5;
    border-radius: 50px;
    transition: all 0.2s;
    color: #00ADB5;
    padding: 12px 40px;
    text-transform: uppercase;

}

.big-cta-btn:hover{
    color:white;
    background-color: #00ADB5;
}

.hero-img {
    width: 100%;
    animation: zoomIn 1.2s ease-in-out ;
    animation-delay: 0.2s;
}


/*Animations*/

@keyframes bottomIn {
    
    from {

        transform: translateY(500px);
        opacity: 0;

    }

    to {
        transform: translateY(0);
        opacity: 1;
    }

    
}

@keyframes topIn{
    
    from {

        transform: translateY(-100%);
        opacity: 0;

    }

    to {
        transform: translateY(0);
        opacity: 1;
    }

    
}

@keyframes zoomIn {
    
    from {

        transform: scale(0.5);
        opacity: 0;

    }

    to {
        transform: scale(1);
        opacity: 1;
    }

    
}